<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AboutUs</title>
    <link rel="stylesheet" href="../../../public/styles/reset.css">
    <link rel="stylesheet" href="../../public/styles/modules.css">
</head>
<body>
   
    <main>

      <div class="info">
        <p id="title"><b>Our First Cute Animal</b></p>
        <div class="adminImg">
          <img src="/imgg/2.jpg" alt="Norway" style="width: 500px; height: 350px ">
  
        </div>
      </div>

      <div id="allimg">
        <h3>Our Team:</h3>
        <div class="Obadabox">
          <p><b>Muhammed Tommalieh</b></p>
  
          <img id="Obada" src="/images/4.png" alt="Norway" style="width: 200px; height: 190px ">
  
        </div>


        <div class="sarabox">
          <p><b>Mais AbuRabi'</b></p>
  
  
          <img id="sara" src="/images/11.jpg" alt="Norway" style="width: 200px; height: 190px ">
  
        </div>
        <br>
        <div id="clear"></div>
  
  
        <div class="maisbox">
          <p><b>Thaer Abu Mousa</b></p>
  
          <img id="mais" src="/images/3.jpg" alt="Norway" style="width: 200px; height: 190px ">
  
  
        </div>


        <div class="ahmadbox">
          <p><b>Ahmad AL-Habrawi</b></p>
  
          <img id="ahmad" src="/images/22.jpg" alt="Norway" style="width: 200px; height: 190px ">
  
        </div>
  
       
      </div>
        
    </main>
   
    
</body>
</html>