<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>AboutUs</title>
  <link rel="stylesheet" href="../../../public/styles/reset.css">
  <link rel="stylesheet" href="../../public/styles/modules.css">
  <link href="https://fonts.googleapis.com/css?family=Alegreya+Sans" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"
    type="text/css" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>

<body>

  <main>

    <div class="container">
      <h1>Our Team Members</h1>
      <div id="Con">
        <div class="col-md-3 col-sm-6">
          <div class="profile-card">
            <div class="profile-img">
              <img src="/imgg/22.jpg" alt="image" />
            </div>
            <div class="profile-content">
              <h3 class="title">Mais AbuRabi'</h3>
              <h4>Designer</h4>
              <ul class="social-link">
                <li><a href="" class="fa fa-facebook"></a></li>
                <li><a href="" class="fa fa-twitter"></a></li>
                <li><a href="" class="fa fa-youtube"></a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="profile-card">
            <div class="profile-img">
              <img src="/imgg/3.png" alt="image" />
            </div>
            <div class="profile-content">
              <h3 class="title">Ahmad AL-Habrawi</h3>
              <h4>Developer</h4>
              <ul class="social-link">
                <li><a href="" class="fa fa-facebook"></a></li>
                <li><a href="" class="fa fa-twitter"></a></li>
                <li><a href="" class="fa fa-youtube"></a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="profile-card">
            <div class="profile-img">
              <img src="/imgg/4.jpg" alt="image" />
            </div>
            <div class="profile-content">
              <h3 class="title">Muhammed Tommalieh</h3>
              <h4>UI/Designer</h4>
              <ul class="social-link">
                <li><a href="" class="fa fa-facebook"></a></li>
                <li><a href="" class="fa fa-twitter"></a></li>
                <li><a href="" class="fa fa-youtube"></a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="profile-card">
            <div class="profile-img">
              <img src="/imgg/Image from iOS.jpg" alt="image" />
            </div>
            <div class="profile-content">
              <h3 class="title">Thaer Abu Mousa</h3>
              <h4>Developer</h4>
              <ul class="social-link">
                <li><a href="" class="fa fa-facebook"></a></li>
                <li><a href="" class="fa fa-twitter"></a></li>
                <li><a href="" class="fa fa-youtube"></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

  </main>


</body>

</html>